
// DuoTone dark Amethyst

// Hues -----------------------------------
@syntax-uno: 270;
@syntax-duo: 297;


// Language colors -----------------------------------

// Uno hue
@uno-1: hsl(@syntax-uno, 90%, 81%);
@uno-2: hsl(@syntax-uno, 72%, 63%);
@uno-3: hsl(@syntax-uno, 63%, 54%);
@uno-4: hsl(@syntax-uno, 45%, 36%);
@uno-5: hsl(@syntax-uno, 36%, 27%);

// Duo hue
@duo-1: hsl(@syntax-duo, 75%, 50%);
@duo-2: hsl(@syntax-duo, 75%, 40%);
@duo-3: hsl(@syntax-duo, 75%, 30%);


// Base colors -----------------------------------
@syntax-fg:               @uno-2;
@syntax-bg:               hsl(@syntax-uno, 13.5%, 13.5%);
@syntax-accent:           hsl(@syntax-duo, 100%, 72%);
@syntax-guide:            lighten(@syntax-bg, 9%);
@syntax-selection:        lighten(@syntax-bg, 9%);
@syntax-selection-gutter: lighten(@syntax-bg, 4.5%);
@syntax-cursor-line:      fade(@syntax-selection, 27%); // needs to be semi-transparent to show search results
